<div class="container">
    <div class="user">
        <img src="/assets/avatar.png" alt="">
        <div class="info">
            <p>UserName</p>
            <p style="font-size: 15px; margin-top: 0px;">last seen today at 2:13 PM</p>
        </div>
    </div>
    <div class="rec-user">
        <img src="/assets/avatar.png" alt="">
        <div class="info">
            <p>Other Guy</p>
            <p style="font-size: 15px; margin-top: 0px;">last seen today at 2:13 PM</p>
        </div>
    </div>
</div>