<div class="container">
    <div class="user">
        <img src="/assets/avatar.png" alt="">
        <div class="info">
            <p>{{username}}</p>
            <p style="font-size: 15px; margin-top: 0px;">Active Now</p>
        </div>
    </div>
    <div class="rec-user">
        <img src="/assets/avatar.png" alt="">
        <div class="info">
            <p>{{recipientName || 'Other Guy'}}</p>
            <p style="font-size: 15px; margin: 0px 0px 5px 0px;">{{recipienOnline ? 'Online': 'last seen: ' + (recipientLastActive ? (recipientLastActive | date: 'medium') : "Offline")}}</p>
        </div>
        <span style="flex: 1 1 auto;"></span>
        <button (click)="onLogout()" class="logout-button">Logout</button>
    </div>
    
</div>