.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 100%;
    min-height: 60px;
}
.user {
    background-color: #263238;
    display: flex;
    color: #fff;
    border-bottom: 1px #000 solid;
    border-right: 1px #000 solid;
}
.rec-user {
    background-color: #263238;
    display: flex;
    color: #fff;
    border-bottom: 1px #000 solid;
}
img {
    height: 50px;
    width: 50px;
    margin: 5px 10px;
    border-radius: 50%;
}
.info > p {
   margin: 5px 0px 0px 0px;
}
.logout-button {
    border: hidden;
    color: white;
    font-variant: small-caps;
    background: crimson;
    cursor: pointer;
}