<div class="container">
    <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <p>Register</p>
        <input type="text" name="username" id="username" placeholder="Username" required ngModel #name="ngModel">
        <input type="email" name="email" id="email" placeholder="Email" required ngModel #email="ngModel" email>
        <input type="password" name="password" placeholder="Password" required ngModel #password="ngModel" minlength="4">
        <button type="submit" [disabled]="form.invalid">Register</button>

        <ul *ngIf="name.invalid && (name.dirty || name.touched)" class="validation">
            <li *ngIf="name.errors.required">
                Username is required.
            </li>
            <li *ngIf="name.errors.minlength">
                Username must be at least 4 characters long.
            </li>
        </ul>

        <ul *ngIf="email.invalid && (email.dirty || email.touched)" class="validation">
            <li *ngIf="email.errors.required">
                A valid Email is required.
            </li>
        </ul>

        <ul *ngIf="password.invalid && (password.dirty || password.touched)" class="validation">
            <li *ngIf="password.errors.required">
                Password is required.
            </li>
            <li *ngIf="password.errors.minlength">
                Password must be at least 4 characters long.
            </li>
        </ul>
        <ul *ngIf="server_errors" class="validation">
            <li *ngFor="let error of server_errors">
                {{error.description}}
            </li>
        </ul>

        <div><span>Already a user? </span><a routerLink="/login">login</a></div>
    </form>
</div>