.container {
    height: 100%;
    width: 100%;
    background-image: url(/assets/bg3.jpg);
    background-size: cover;
}
.form {
    margin: 0 auto;
    padding-top: 10vw;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form > * {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.form > input {
    border: 2px solid cornflowerblue;
}

.form > button {
    color: #fff;
    background-color: royalblue;
    cursor: pointer;
}
.form > button:disabled {
    color: #fff;
    background-color: cornflowerblue;
    cursor: pointer;
}

.form > p {
    color: #fff;
    text-align: center;
    font-size: 90px;
    font-family: cursive;
}
.form > div {
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-family: cursive;
}
.form > div > a {
    text-decoration: underline;
    color: cornflowerblue;
}
form>.validation {
  color: coral;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  padding: 5px;
}